div.book_isbn {
	float:left;
	width:100px;
	font-size:small;
	margin-top:5px;
}

div.book_title {
	float:left;
	width:200px;
	margin-right:10px;
	margin-top:5px;
}

div.book_author{
	float:left;
	width:200px;
	font-size:small;
	margin-right:10px;
	margin-top:5px;
}

div.book_publisher{
	float:left;
	width:120px;
	font-size:small;
	margin-right:10px;
	margin-top:5px;
}
div.book_publishdate{
	float:left;
	width:80px;
	font-size:small;
	margin-top:5px;
}

div.book_sep{
	clear:both;
}
div.book_even {
	height:auto;
	clear:both;
	background-color:#ffddff;
}

div.book_odd{
	height:auto;
	clear:both;
	background-color:#ffffff;
}

div#pageselect{
	margin-bottom:5px;
}

div#searchbook{
	margin-bottom:5px;
}
div#addbook{
	clear:both;
	margin-top:10px;
}

div#manual{
	margin-top:10px;
	font-size:small;
}
